@use '@angular/material' as mat;
@import "../../theme.scss";

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-content {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
}

.container-map-content {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
}

.container-map-content-panel-find {
    width: 100%;
    background-color: mat.get-color-from-palette($my-accent, 500);
}

.mat-card {
    background-color: mat.get-color-from-palette($my-accent, 500);
    border: 1px solid white;
    border-radius: 25px;
    padding: 20px;
    color: white;
}

.mat-expansion-panel-header {
   position: relative;
}


.mat-card-actions a, .mat-card-actions button {
    background-color: mat.get-color-from-palette($my-optionnal, 500);
    color: white;
    border: 1px solid white;
    padding: 0px 25px;
    position: center;
}

::ng-deep .mat-form-field {
    width: 100%;

    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
    .mat-input-element {
        color: white;
    }

    .mat-form-field-wrapper {
        margin-right: 20px;
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
    .mat-input-element {
        color: white;
    }

}

