@use "@angular/material" as mat;

$main-palette: (
  // 50 ... 900
  50: #3d3b37,
  100: #3d3b37,
  200: #3d3b37,
  300: #3d3b37,
  400: #3d3b37,
  500: #3d3b37,
  600: #3d3b37,
  700: #3d3b37,
  800: #3d3b37,
  900: #3d3b37,
  A100: #3d3b37,
  A200: #3d3b37,
  A400: #3d3b37,
  A700: #3d3b37,
  contrast: (
    // 50 ... 900
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);

$secondary-palette: (
  // 50 ... 900
  50: #915000,
  100: #915000,
  200: #915000,
  300: #915000,
  400: #915000,
  500: #915000,
  600: #915000,
  700: #915000,
  800: #915000,
  900: #915000,
  A100: #915000,
  A200: #915000,
  A400: #915000,
  A700: #915000,
  contrast: (
    // 50 ... 900
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);

$optionnal-palette: (
  // 50 ... 900
  50: #346E91,
  100: #346E91,
  200: #346E91,
  300: #346E91,
  400: #346E91,
  500: #346E91,
  600: #346E91,
  700: #346E91,
  800: #346E91,
  900: #346E91,
  A100: #346E91,
  A200: #346E91,
  A400: #346E91,
  A700: #346E91,
  contrast: (
    // 50 ... 900
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-primary: mat.define-palette($main-palette, 500);
$my-accent: mat.define-palette($secondary-palette, 500);
$my-optionnal: mat.define-palette($optionnal-palette, 500);
// The warn palette is optional (defaults to red).
// DEFAULT
$my-danger: mat.define-palette(mat.$red-palette);